<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xxx.demo.mapper.account.AccountMapper">

      <resultMap id="BaseResultMap" type="com.xxx.demo.models.jsonBean.account.UserAccount">
          <id column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR"/>
          <id column="BALANCE" property="balance" jdbcType="VARCHAR"/>
          <id column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
          <id column="UPDATE_TIME" property="updateTime" jdbcType="DATE"/>
      </resultMap>

      <resultMap id="TtChargeFlowResultMap" type="com.xxx.demo.models.jsonBean.account.TtChargeFlow">
          <id column="ID" property="id" jdbcType="VARCHAR"/>
          <id column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR"/>
          <id column="CHARGE_DATE" property="chargeDate" jdbcType="DATE"/>
          <id column="CHARGE_FROM" property="chargeFrom" jdbcType="VARCHAR"/>
          <id column="CHARGE_TO" property="chargeTo" jdbcType="VARCHAR"/>
          <id column="DIRECTION" property="direction" jdbcType="TINYINT"/>
          <id column="AMOUNT" property="amount" jdbcType="DOUBLE"/>
          <id column="COMMENT" property="comment" jdbcType="VARCHAR"/>
      </resultMap>

    <sql id="tableName">
        TM_CHARGE_ACCOUNT
    </sql>

    <sql id="baseColumns">
        USER_ACCOUNT,BALANCE,CREATE_TIME,UPDATE_TIME
    </sql>

    <sql id="TtChargeFlowColumns">
        ID,USER_ACCOUNT,AMOUNT,DIRECTION,CHARGE_DATE
    </sql>


    <select id="selectBalance" resultMap="BaseResultMap">
        select * FROM TM_CHARGE_ACCOUNT
        WHERE USER_ACCOUNT =#{userAccount}
    </select>

    <update id="upadteBalance" parameterType="UserAccount">
        UPDATE
        <include refid="tableName" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="balance!=null and balance!='' ">
                BALANCE = #{balance},
            </if>
            <if test="updateTime!=null">
                UPDATE_TIME=#{updateTime},
        </if>
        </trim>
        WHERE
        USER_ACCOUNT =#{userAccount}
    </update>

    <insert id="saveChargeFlow" parameterType="TtChargeFlow">
        insert into TT_CHARGE_FLOW ( <include refid="TtChargeFlowColumns" />)
        values (#{id},#{userAccount},#{amount},#{direction},#{chargeDate})
    </insert>


</mapper>